name: npm test exo 1
on: 
  workflow_dispatch:
               
jobs:
  job1:
    runs-on: ubuntu-latest
    steps: 
    - name: Checkout code
      uses: actions/checkout@v5
    - name: Setup Node.js
      uses: actions/setup-node@v6
    - name: Run install & tests
      run: npm install && npm test