name: npm test exo 1
on: 
  workflow_dispatch:
               
jobs:
  job1:
    runs-on: ubuntu-latest
    steps: 
    - uses: actions/checkout@v5
    - uses: actions/setup-node@v6
    - run: npm install
    
  job2:
    needs: job1
    runs-on: ubuntu-latest
    steps: 
    - uses: actions/checkout@v5
    - uses: actions/setup-node@v6
    - run: npm test